# Ignore dependencies
/node_modules

# Ignore output folders except build
/.next/ !/.next/

# Ignore production out folder if not needed
/out/

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore env files
.env*

# Ignore Vercel configs
.vercel

# Ignore TypeScript build info
*.tsbuildinfo

# Track build folder
!/build
